<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <!-- <th scope="col">Atlas ID</th> -->
            <th scope="col">Name</th>
            <th scope="cole">Players</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boardgame of boardgames">
            <!-- <td>{{ boardgame.id }}</td> -->
            <td>{{ boardgame.name }}</td>
            <td>{{ boardgame.players }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>